
<div class = "main">




  <h4>Downward</h4>
  <fx-theta-row thetaName="E0" [form]="input.form.get('e0')"></fx-theta-row>
  <fx-theta-row thetaName="Em" [form]="input.form.get('em')"></fx-theta-row>
  <fx-theta-row thetaName="D50" [form]="input.form.get('emid1')"></fx-theta-row>
  <fx-theta-row thetaName="Hd" [form]="input.form.get('h1')"></fx-theta-row>


</div>


  <h4>Upward</h4>


<fx-theta-row thetaName="Emax" [form]="input.form.get('emax')"></fx-theta-row>
<fx-theta-row thetaName="U50" [form]="input.form.get('emid2')"></fx-theta-row>
<fx-theta-row thetaName="Hu" [form]="input.form.get('h2')"></fx-theta-row>


