<h4>
  Stimulatory
</h4>

<fx-theta-row thetaName="Emax" [form]="input.form.get('emax1')"></fx-theta-row>
<fx-theta-row thetaName="E50" [form]="input.form.get('emid1')"></fx-theta-row>
<fx-theta-row thetaName="h" [form]="input.form.get('h1')"></fx-theta-row>
<h4>
  Inhibitory
</h4>

<fx-theta-row thetaName="Emax" [form]="input.form.get('emax2')"></fx-theta-row>
<fx-theta-row thetaName="E50" [form]="input.form.get('emid2')"></fx-theta-row>
<fx-theta-row thetaName="h" [form]="input.form.get('h2')"></fx-theta-row>
