
<div class = "main">





<fx-theta-row thetaName="E0" [form]="input.form.get('e0')"></fx-theta-row>
  <fx-theta-row thetaName="Em" [form]="input.form.get('em')"></fx-theta-row>
<fx-theta-row thetaName="E50_1" [form]="input.form.get('emid1')"></fx-theta-row>
<fx-theta-row thetaName="h1" [form]="input.form.get('h1')"></fx-theta-row>


<fx-theta-row thetaName="Emax" [form]="input.form.get('emax')"></fx-theta-row>
<fx-theta-row thetaName="E50_2" [form]="input.form.get('emid2')"></fx-theta-row>
<fx-theta-row thetaName="h2" [form]="input.form.get('h2')"></fx-theta-row>
</div>
