<div class="grid" *ngIf="spec.isInteger; else decimalInput">
  <mat-form-field class="main__input"
       [hideRequiredMarker]="hideRequiredMarker"
 [style.width.rem]="inputWidth" >
    <label>
      <input
        matInput
        type="number"
        [step]="step"
        [formControl]="control"
        [placeholder]="placeholder"
        [min]="spec.min"
        [max]="spec.max"
        [required]="spec.isRequired"
        [width]="inputWidth"
        [readonly]="isInputDisabled"
        [matTooltip]="tooltip"
        [matTooltipShowDelay]="tooltipDelay"

      />
    </label>
  </mat-form-field>
</div>

<ng-template #decimalInput>
  <div class="grid">
    <mat-form-field class="main__input"
                    [hideRequiredMarker]="hideRequiredMarker"
                    [style.width.rem]="inputWidth">
      <label>
        <input
          matInput
          type="number"
          [step]="step"
          [formControl]="control"
          [placeholder]="placeholder"
          [min]="spec.displayedMinimum"
          [max]="spec.max"
          [required]="spec.isRequired"
          [readonly]="isInputDisabled"
          [matTooltip]="tooltip"
          [matTooltipShowDelay]="tooltipDelay"
        />
      </label>
    </mat-form-field>
  </div>
</ng-template>

<mat-error *ngFor="let error of validationErrors">
  <div>{{ error }}</div>
</mat-error>
