
.main{
  display: flex;
flex-direction: column;
  justify-content: stretch;
  flex-grow: 1;
  align-self: stretch;
}

.header {
  display: flex;
  /*padding-top: 0.42rem;*/
  /*padding-bottom: 0.45rem;*/
  background-color: #1abc9c;
  align-items:center;
  align-self: stretch;
  height: 6rem;
  margin: -0.5rem;



}

.words{
  font-weight: bold;
  color:#232b2b;
  font-size: xx-large;
  margin-left: 3rem;

}



/*.bottom {*/
/*  display: flex;*/
/*  background-color: #1abc9c;*/


/*  height: 2.5rem;*/
/*margin-left: -0.5rem;*/
/*margin-right: -0.5rem;*/
/*margin-top: auto;*/
/*!*align-self: flex-end;*!*/


/*}*/
