.super{ display: flex;
  flex-direction: column;
justify-content: space-between;
}

.main{
  display: flex;
flex-direction: column;
wrap-option: false;

  min-height: 100vh;
}

.header {
  display: flex;
  /*padding-top: 0.42rem;*/
  /*padding-bottom: 0.45rem;*/
  background-color: #4dbeee;
  align-items:center;
  /*align-self: stretch;*/
  height: 5.5rem;
  margin: -0.5rem;



}

.header>.words{
  font-weight: bold;
  color:#232b2b;
  font-size: xx-large;
margin-left: 2rem;
}

.decider_icon{
  display: flex;
  margin-left: 2.5rem;
  transform: scale(2.5);
}

.pre_clinical{
  flex: 1
}
.bott{
  /*display: flex;*/
  /* flex-direction: column-reverse;*/

  background-color: #4dbeee;
  height: 2rem;

/*margin-left: -0.5rem;*/
/*margin-right: -0.5rem;*/

/*align-self: flex-end;*/
/*align-self: flex-end;*/
/*!*margin-top: auto;*!*/
/*position: absolute;*/

}
