<div class = "main">




<div class="plotlies">
  <plotly-plot
    divId = "master_plot"
    [data]="service.masterPlot$ | async"
    [layout]="service.masterLayout"
    [config]="plotlyConfig"

  ></plotly-plot>
  </div>


    <mat-slide-toggle [formControl]="service.showSlave">
      show
    </mat-slide-toggle>


<div class="slave"
*ngIf="showSlave$|async">
  <plotly-plot
    divId = "slave_plot"
    [data]="service.slavePlot$ | async"
    [layout]="service.slaveLayout"
    [config]="plotlyConfig"

  ></plotly-plot>
</div>
</div>
