<div class = "main">




<div class="plotlies">
  <h3> Preclinical </h3>
  <plotly-plot
    divId = "master_plot"
    [data]="service.masterPlot$ | async"
    [layout]="service.masterLayout"
    [config]="plotlyConfig"

  ></plotly-plot>
  </div>


    <mat-slide-toggle [formControl]="service.showSlave"
    labelPosition="before">
      <h3>Clinical</h3>
    </mat-slide-toggle>


<div class="slave"
>

  <plotly-plot
    *ngIf="showSlave$|async"
    divId = "slave_plot"
    [data]="service.slavePlot$ | async"
    [layout]="service.slaveLayout"
    [config]="plotlyConfig"

  ></plotly-plot>
</div>
</div>
