<div class="row">
<div class = "first_column">


<button
  class="equation_button"
mat-raised-button
(click)="formulaClicked()"

>
<b> Biphasic Hill Model</b>
  </button>

<fx-two-logistics></fx-two-logistics>
  <ng-container *ngIf="equationVisible">
  <ng-katex [equation]="equation_A" [options]="options"></ng-katex>
  <ng-katex [equation]="equation_B" [options]="options"></ng-katex>
   <ng-katex [equation]="equation_CLINICAL" [options]="options"></ng-katex>


  </ng-container>

</div>
  <fx-plot></fx-plot>

</div>
